<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="calc_bank">
        <wb-resource deploy-path="/" source-path="/src/main" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/"/>
        <property name="context-root" value="src/main/webapp"/>
        <property name="java-output-path" value="/calc_bank/build/classes"/>
    </wb-module>
</project-modules>
